# Assignment 1

## Q1.

In [1]:
import numpy as np
from numpy import linalg as lin
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
cols = ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']
cols

['symboling',
 'normalized-losses',
 'make',
 'fuel-type',
 'aspiration',
 'num-of-doors',
 'body-style',
 'drive-wheels',
 'engine-location',
 'wheel-base',
 'length',
 'width',
 'height',
 'curb-weight',
 'engine-type',
 'num-of-cylinders',
 'engine-size',
 'fuel-system',
 'bore',
 'stroke',
 'compression-ratio',
 'horsepower',
 'peak-rpm',
 'city-mpg',
 'highway-mpg',
 'price']

In [3]:
data = pd.read_csv('data_q1/imports-85.data', names=cols)
data

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [4]:
cols_nominal = ['make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'engine-type', 'num-of-cylinders', 'fuel-system']
cols_numerical = ['symboling', 'normalized-losses', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-size', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

In [5]:
data.replace('?', np.nan, inplace=True)
data

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [6]:
data.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [7]:
data.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [8]:
for col in cols_numerical:
    data[col] = pd.to_numeric(data[col])
data.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [9]:
data.describe()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,164.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,201.000000,201.000000,205.000000,203.000000,203.000000,205.000000,205.000000,201.000000
mean,0.834146,122.000000,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329751,3.255423,10.142537,104.256158,5125.369458,25.219512,30.751220,13207.129353
std,1.245307,35.442168,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.273539,0.316717,3.972040,39.714369,479.334560,6.542142,6.886443,7947.066342
min,-2.000000,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,94.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7775.000000
50%,1.000000,115.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,2.000000,150.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.590000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000
max,3.000000,256.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [10]:
data.dropna(subset=['num-of-doors', 'price'], inplace=True)
data

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [11]:
data.fillna(data.mean(), inplace=True)
data

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,121.840491,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,121.840491,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,121.840491,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.000000,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.000000,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.000000,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.000000,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.000000,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.000000,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.000000,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [12]:
data.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [13]:
# standardizing numerical features excluding the target variable
for col in cols_numerical[:-1]:
    data[col] = (data[col] - data[col].mean()) / data[col].std()
data

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,1.711409,0.000000,alfa-romero,gas,std,two,convertible,rwd,front,-1.679665,...,0.070851,mpfi,0.514086,-1.813547,-0.284172,0.197496,-0.246595,-0.644520,-0.534152,13495.0
1,1.711409,0.000000,alfa-romero,gas,std,two,convertible,rwd,front,-1.679665,...,0.070851,mpfi,0.514086,-1.813547,-0.284172,0.197496,-0.246595,-0.644520,-0.534152,16500.0
2,0.123668,0.000000,alfa-romero,gas,std,two,hatchback,rwd,front,-0.710243,...,0.598380,mpfi,-2.427775,0.675778,-0.284172,1.345735,-0.246595,-0.956587,-0.681173,16500.0
3,0.917539,1.313217,audi,gas,std,four,sedan,fwd,front,0.160593,...,-0.432699,mpfi,-0.528599,0.455205,-0.029120,-0.042834,0.798118,-0.176420,-0.093089,13950.0
4,0.917539,1.313217,audi,gas,std,four,sedan,4wd,front,0.094870,...,0.214723,mpfi,-0.528599,0.455205,-0.539224,0.304309,0.798118,-1.112621,-1.269257,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1.464073,-0.836049,volvo,gas,std,four,sedan,rwd,front,1.688665,...,0.334616,mpfi,1.668486,-0.332556,-0.156646,0.277605,0.589176,-0.332453,-0.387131,16845.0
201,-1.464073,-0.836049,volvo,gas,turbo,four,sedan,rwd,front,1.688665,...,0.334616,mpfi,1.668486,-0.332556,-0.360688,1.505955,0.380233,-0.956587,-0.828194,19045.0
202,-1.464073,-0.836049,volvo,gas,std,four,sedan,rwd,front,1.688665,...,1.101930,mpfi,0.923712,-1.214849,-0.335183,0.811670,0.798118,-1.112621,-1.122236,21485.0
203,-1.464073,-0.836049,volvo,diesel,turbo,four,sedan,rwd,front,1.688665,...,0.430530,idi,-1.198896,0.455205,3.286562,0.063979,-0.664480,0.135647,-0.534152,22470.0
204,-1.464073,-0.836049,volvo,gas,turbo,four,sedan,rwd,front,1.688665,...,0.334616,mpfi,1.668486,-0.332556,-0.156646,0.277605,0.589176,-0.956587,-0.828194,22625.0

In [14]:
data_shuffle = data.sample(frac=1, random_state=1)
data_shuffle

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
181,-1.464073,0.000000,toyota,gas,std,four,wagon,rwd,front,0.932844,...,0.814187,mpfi,-0.230689,0.297653,-0.233162,1.399142,0.171291,-0.956587,-0.975215,15750.0
42,0.123668,-0.462263,honda,gas,std,two,sedan,fwd,front,-0.381626,...,-0.408720,2bbl,-0.677554,1.022393,-0.258667,-0.096240,0.798118,-0.020386,0.053932,10345.0
36,-0.670202,-1.365578,honda,gas,std,four,wagon,fwd,front,-0.381626,...,-0.840335,1bbl,-1.534045,0.486715,-0.233162,-0.737118,1.842832,0.759781,0.494996,7295.0
95,0.123668,0.191861,nissan,gas,std,two,hatchback,fwd,front,-0.710243,...,-0.720442,2bbl,-0.677554,0.108590,-0.182151,-0.924041,0.171291,0.915815,0.936059,7799.0
151,0.123668,-1.085239,toyota,gas,std,two,hatchback,fwd,front,-0.513073,...,-0.840335,2bbl,-1.049941,-0.710682,-0.284172,-1.110964,-0.664480,0.915815,1.083080,6338.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,0.917539,-1.209834,subaru,gas,std,two,hatchback,fwd,front,-0.841690,...,-0.456677,2bbl,1.072667,-1.939589,-0.360688,-0.817228,-1.500251,0.135647,0.053932,7053.0
143,-0.670202,-0.618007,subaru,gas,std,four,sedan,fwd,front,-0.266610,...,-0.456677,mpfi,1.072667,-1.939589,-0.284172,-0.256460,0.171291,0.135647,0.200953,9960.0
77,0.917539,1.219771,mitsubishi,gas,std,two,hatchback,fwd,front,-0.841690,...,-0.840335,2bbl,-1.347851,-0.080473,-0.182151,-0.950744,0.798118,0.915815,1.083080,6189.0
146,-0.670202,-1.022941,subaru,gas,std,four,wagon,fwd,front,-0.299471,...,-0.456677,2bbl,1.072667,-1.939589,-0.284172,-0.576899,-0.664480,0.447714,0.200953,7463.0
39,-0.670202,-1.147536,honda,gas,std,four,sedan,fwd,front,-0.381626,...,-0.408720,1bbl,-0.677554,1.022393,-0.284172,-0.470086,1.424946,0.291681,0.347975,8845.0

In [15]:
train_size = int(0.8 * len(data))
data_train = data_shuffle[:train_size].reset_index(drop=True)
data_test = data_shuffle[train_size:].reset_index(drop=True)

In [16]:
data_train

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,-1.464073,0.000000,toyota,gas,std,four,wagon,rwd,front,0.932844,...,0.814187,mpfi,-0.230689,0.297653,-0.233162,1.399142,0.171291,-0.956587,-0.975215,15750.0
1,0.123668,-0.462263,honda,gas,std,two,sedan,fwd,front,-0.381626,...,-0.408720,2bbl,-0.677554,1.022393,-0.258667,-0.096240,0.798118,-0.020386,0.053932,10345.0
2,-0.670202,-1.365578,honda,gas,std,four,wagon,fwd,front,-0.381626,...,-0.840335,1bbl,-1.534045,0.486715,-0.233162,-0.737118,1.842832,0.759781,0.494996,7295.0
3,0.123668,0.191861,nissan,gas,std,two,hatchback,fwd,front,-0.710243,...,-0.720442,2bbl,-0.677554,0.108590,-0.182151,-0.924041,0.171291,0.915815,0.936059,7799.0
4,0.123668,-1.085239,toyota,gas,std,two,hatchback,fwd,front,-0.513073,...,-0.840335,2bbl,-1.049941,-0.710682,-0.284172,-1.110964,-0.664480,0.915815,1.083080,6338.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,0.917539,1.313217,audi,gas,std,four,sedan,fwd,front,0.160593,...,-0.432699,mpfi,-0.528599,0.455205,-0.029120,-0.042834,0.798118,-0.176420,-0.093089,13950.0
155,-1.464073,-1.770512,toyota,diesel,turbo,four,sedan,fwd,front,0.587796,...,-0.408720,idi,-0.230689,0.297653,3.159036,-0.817228,-1.291308,0.759781,0.347975,10698.0
156,0.123668,-0.275371,mazda,gas,std,four,sedan,fwd,front,-0.940275,...,-0.864313,2bbl,-1.124419,-0.332556,-0.284172,-0.950744,-0.246595,0.915815,1.083080,6695.0
157,-0.670202,-0.960644,toyota,gas,std,four,wagon,4wd,front,-0.513073,...,-0.840335,2bbl,-1.049941,-0.710682,-0.284172,-1.110964,-0.664480,0.291681,0.200953,8778.0
158,0.917539,-0.555710,saab,gas,turbo,four,sedan,fwd,front,0.045577,...,-0.144956,mpfi,0.774757,-0.584640,-0.284172,1.505955,0.798118,-0.956587,-0.681173,18620.0

In [17]:
data_test

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,-1.464073,-1.490173,volvo,gas,std,four,wagon,rwd,front,0.899983,...,0.334616,mpfi,1.668486,-0.332556,-0.156646,0.277605,0.589176,-0.332453,-0.387131,13415.0
1,0.123668,-0.649156,honda,gas,std,two,hatchback,fwd,front,-0.841690,...,-1.152056,1bbl,-1.571284,-0.584640,-0.003614,-1.164370,0.798118,2.008049,1.671164,5399.0
2,1.711409,0.000000,porsche,gas,std,two,hardtop,rwd,rear,-1.531787,...,1.605480,mpfi,1.519531,-1.120318,-0.156646,2.761008,1.633889,-1.268654,-0.828194,32528.0
3,0.123668,1.001729,plymouth,gas,std,four,hatchback,fwd,front,-0.841690,...,-0.888292,2bbl,-1.347851,-0.080473,-0.182151,-0.950744,0.798118,0.915815,1.083080,6229.0
4,-1.464073,-0.991792,toyota,gas,std,four,sedan,rwd,front,0.932844,...,1.053973,mpfi,-0.230689,0.297653,-0.233162,1.399142,0.171291,-0.800554,-0.975215,15690.0
5,0.123668,1.126325,audi,gas,turbo,four,sedan,fwd,front,1.146446,...,0.094830,mpfi,-0.752032,0.455205,-0.462709,0.971890,0.798118,-1.268654,-1.563300,23875.0
6,-0.670202,-0.119627,mazda,gas,std,four,sedan,rwd,front,0.998568,...,0.310637,mpfi,1.594009,-0.301046,-0.539224,0.437825,-0.246595,-0.956587,-0.534152,18280.0
7,1.711409,0.877134,saab,gas,std,two,hatchback,fwd,front,0.045577,...,-0.144956,mpfi,-2.949117,-3.735685,-0.207656,0.170792,0.275762,-0.644520,-0.387131,15040.0
8,1.711409,0.000000,alfa-romero,gas,std,two,convertible,rwd,front,-1.679665,...,0.070851,mpfi,0.514086,-1.813547,-0.284172,0.197496,-0.246595,-0.644520,-0.534152,16500.0
9,0.123668,0.223010,mazda,gas,std,two,hatchback,fwd,front,-0.003716,...,-0.120977,2bbl,0.216176,0.423694,-0.386193,-0.523492,-0.664480,0.135647,0.200953,10595.0
10,0.123668,-0.119627,dodge,gas,turbo,two,hatchback,fwd,front,-0.841690,...,-0.696463,mpfi,-1.124419,0.423694,-0.641245,-0.042834,0.798118,-0.176420,-0.093089,7957.0
11,-0.670202,0.000000,mazda,diesel,std,four,sedan,rwd,front,0.998568,...,0.166766,idi,0.365131,1.211456,3.031510,-0.843931,-1.918136,0.915815,1.230101,18344.0
12,-1.464073,-0.898346,mercedes-benz,diesel,turbo,four,wagon,rwd,front,1.836543,...,1.341716,idi,0.923712,1.211456,2.903984,0.517935,-1.604722,-0.488487,-0.828194,28248.0
13,0.123668,0.000000,audi,gas,std,four,wagon,fwd,front,1.146446,...,0.214723,mpfi,-0.528599,0.455205,-0.411698,0.170792,0.798118,-0.956587,-0.828194,18920.0
14,-1.464073,-0.836049,volvo,gas,turbo,four,sedan,rwd,front,1.688665,...,0.334616,mpfi,1.668486,-0.332556,-0.360688,1.505955,0.380233,-0.956587,-0.828194,19045.0
15,-0.670202,-1.022941,subaru,gas,std,four,wagon,fwd,front,-0.299471,...,-0.456677,mpfi,1.072667,-1.939589,-0.284172,-0.256460,0.171291,-0.020386,0.053932,10198.0
16,0.123668,0.191861,nissan,gas,std,two,sedan,fwd,front,-0.710243,...,-0.720442,2bbl,-0.677554,0.108590,-0.182151,-0.924041,0.171291,0.915815,0.936059,6649.0
17,-0.670202,0.191861,nissan,gas,std,four,sedan,fwd,front,0.259178,...,1.293759,mpfi,0.365131,0.045569,-0.284172,1.292329,0.171291,-1.268654,-1.269257,13499.0
18,-0.670202,0.000000,mercedes-benz,gas,std,four,sedan,rwd,front,3.627508,...,4.339037,mpfi,1.742964,0.297653,-0.539224,2.146833,-1.291308,-1.736755,-2.151384,40960.0
19,0.123668,-0.275371,mazda,gas,std,four,sedan,fwd,front,-0.940275,...,-0.864313,2bbl,-0.938225,-0.332556,-0.284172,-0.950744,-0.246595,0.915815,1.083080,7395.0
20,-0.670202,-1.147536,subaru,gas,std,four,wagon,4wd,front,-0.315902,...,-0.456677,2bbl,1.072667,-1.939589,-0.284172,-0.576899,-0.664480,-0.332453,-0.240110,8013.0
21,0.123668,1.437812,toyota,gas,std,two,sedan,rwd,front,-0.710243,...,-0.696463,2bbl,-0.528599,-0.710682,-0.284172,-0.897338,-0.664480,0.603748,0.494996,8058.0
22,-0.670202,-0.960644,toyota,gas,std,four,sedan,fwd,front,-0.513073,...,-0.696463,2bbl,-0.528599,-0.710682,-0.284172,-0.897338,-0.664480,0.447714,0.494996,9258.0
23,-0.670202,-0.618007,subaru,gas,turbo,four,sedan,4wd,front,-0.299471,...,-0.456677,mpfi,1.072667,-1.939589,-0.615740,0.197496,-0.664480,-0.176420,-0.240110,11259.0
24,0.123668,-1.490173,toyota,gas,std,four,hatchback,fwd,front,-0.513073,...,-0.840335,2bbl,-1.049941,-0.710682,-0.284172,-1.110964,-0.664480,0.915815,1.083080,6488.0
25,0.123668,3.400186,nissan,gas,std,two,hatchback,rwd,front,0.062008,...,1.293759,mpfi,0.365131,0.045569,-0.284172,1.505955,0.171291,-0.956587,-0.828194,18399.0
26,0.123668,-0.119627,dodge,gas,std,two,hatchback,fwd,front,-0.841690,...,-0.888292,2bbl,-1.347851,-0.080473,-0.179601,-0.950744,0.798118,1.852016,1.524143,5572.0
27,0.917539,-0.867197,volkswagen,diesel,std,four,sedan,fwd,front,-0.250179,...,-0.720442,idi,-1.198896,0.455205,3.286562,-1.377996,-0.664480,1.852016,2.259249,7995.0
28,0.123668,0.814837,dodge,gas,std,four,sedan,fwd,front,-0.841690,...,-0.888292,2bbl,-1.347851,-0.080473,-0.182151,-0.950744,0.798118,0.915815,1.083080,7609.0
29,0.917539,-1.209834,subaru,gas,std,two,hatchback,4wd,front,-0.907414,...,-0.456677,2bbl,1.072667,-1.939589,-0.360688,-0.817228,-1.500251,0.135647,0.053932,7603.0
30,0.917539,1.219771,mitsubishi,gas,std,two,hatchback,fwd,front,-0.841690,...,-0.840335,2bbl,-1.347851,-0.080473,-0.182151,-0.950744,0.798118,1.852016,1.524143,5389.0
31,0.917539,-0.555710,saab,gas,std,four,sedan,fwd,front,0.045577,...,-0.144956,mpfi,0.774757,-0.584640,-0.207656,0.170792,0.275762,-0.644520,-0.387131,15510.0
32,0.123668,-1.085239,toyota,gas,std,two,hatchback,fwd,front,-0.513073,...,-0.840335,2bbl,-1.049941,-0.710682,-0.284172,-1.110964,-0.664480,1.539949,1.230101,5348.0
33,-2.257943,-0.586858,volvo,gas,turbo,four,sedan,rwd,front,0.899983,...,0.070851,mpfi,1.072667,-0.332556,-0.666751,1.559361,-0.037652,-1.268654,-1.269257,18420.0
34,1.711409,0.000000,mitsubishi,gas,turbo,two,hatchback,fwd,front,-0.480211,...,0.694294,spdi,0.960950,1.904685,-0.794277,1.105406,-0.246595,-0.956587,-0.975215,14489.0
35,0.917539,-1.209834,subaru,gas,std,two,hatchback,fwd,front,-0.841690,...,-0.456677,2bbl,1.072667,-1.939589,-0.360688,-0.817228,-1.500251,0.135647,0.053932,7053.0
36,-0.670202,-0.618007,subaru,gas,std,four,sedan,fwd,front,-0.266610,...,-0.456677,mpfi,1.072667,-1.939589,-0.284172,-0.256460,0.171291,0.135647,0.200953,9960.0
37,0.917539,1.219771,mitsubishi,gas,std,two,hatchback,fwd,front,-0.841690,...,-0.840335,2bbl,-1.347851,-0.080473,-0.182151,-0.950744,0.798118,0.915815,1.083080,6189.0
38,-0.670202,-1.022941,subaru,gas,std,four,wagon,fwd,front,-0.299471,...,-0.456677,2bbl,1.072667,-1.939589,-0.284172,-0.576899,-0.664480,0.447714,0.200953,7463.0
39,-0.670202,-1.147536,honda,gas,std,four,sedan,fwd,front,-0.381626,...,-0.408720,1bbl,-0.677554,1.022393,-0.284172,-0.470086,1.424946,0.291681,0.347975,8845.0

In [18]:
X_train = data_train.drop('price', axis=1)
y_train = data_train.price
X_test = data_test.drop('price', axis=1)
y_test = data_test.price

In [19]:
# cols_nominal_idx = []
# cols_numerical_idx = []
# for i, col in enumerate(cols):
#     if col in cols_nominal:
#         cols_nominal_idx.append(i)
#     else:
#         cols_numerical_idx.append(i)

In [20]:
def kNN(x):
    diff = X_train[cols_numerical[:-1]] - x[cols_numerical[:-1]]
    for col in cols_nominal:
        diff_col = (X_train[col] != x[col])
        diff = pd.concat([diff, diff_col], axis=1)
    diff = diff.astype(float)
    dist = lin.norm(diff, 2, axis=1)
    idx = np.argsort(dist)
    y_pred = 0
    for i in range(k):
        y_pred += y_train[idx[i]]
    return y_pred / k

In [21]:
k = 1

In [22]:
def rmse(y_pred):
    diff = y_test - y_pred
    return lin.norm(diff, 2)

In [23]:
def test():
    y_pred = X_test.apply(kNN, axis=1)
    return rmse(y_pred)

In [24]:
test()

14482.056898106704

In [25]:
for k in range(1, 10, 2):
    print(f'k = {k}, RMSE = {test()}')

k = 1, RMSE = 14482.056898106704
k = 3, RMSE = 15810.049866391244
k = 5, RMSE = 17674.449457903916
k = 7, RMSE = 21027.24975223477
k = 9, RMSE = 22731.693317621975

## Q2.

In [26]:
cols = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']
cols

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'income']

In [27]:
data = pd.read_csv('data_q2/adult.data', sep='\,\ ', engine='python', names=cols)
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [28]:
data.replace('?', np.nan, inplace=True)
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [29]:
data.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

In [30]:
data.dropna(inplace=True)
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [31]:
data.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income            object
dtype: object

In [32]:
data.income.replace('<=50K', -1, inplace=True)
data.income.replace('>50K', 1, inplace=True)
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,-1
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,-1
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,-1
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,-1
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,-1
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,-1
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,-1
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [33]:
data.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income             int64
dtype: object

In [34]:
data.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income
count,30162.000000,3.016200e+04,30162.000000,30162.000000,30162.000000,30162.000000,30162.000000
mean,38.437902,1.897938e+05,10.121312,1092.007858,88.372489,40.931238,-0.502155
std,13.134665,1.056530e+05,2.549995,7406.346497,404.298370,11.979984,0.864792
min,17.000000,1.376900e+04,1.000000,0.000000,0.000000,1.000000,-1.000000
25%,28.000000,1.176272e+05,9.000000,0.000000,0.000000,40.000000,-1.000000
50%,37.000000,1.784250e+05,10.000000,0.000000,0.000000,40.000000,-1.000000
75%,47.000000,2.376285e+05,13.000000,0.000000,0.000000,45.000000,-1.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000,1.000000

In [43]:
cols_nominal = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']
for col in cols_nominal:
    data[col] = data[col].astype('category').cat.codes
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,5,77516,9,13,4,0,1,4,1,2174,0,40,38,-1
1,50,4,83311,9,13,2,3,0,4,1,0,0,13,38,-1
2,38,2,215646,11,9,0,5,1,4,1,0,0,40,38,-1
3,53,2,234721,1,7,2,5,0,2,1,0,0,40,38,-1
4,28,2,338409,9,13,2,9,5,2,0,0,0,40,4,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,2,257302,7,12,2,12,5,4,0,0,0,38,38,-1
32557,40,2,154374,11,9,2,6,0,4,1,0,0,40,38,1
32558,58,2,151910,11,9,6,0,4,4,0,0,0,40,38,-1
32559,22,2,201490,11,9,4,0,3,4,1,0,0,20,38,-1
32560,52,3,287927,11,9,2,3,5,4,0,15024,0,40,38,1

In [47]:
data.dtypes

age               int64
workclass          int8
fnlwgt            int64
education          int8
education-num     int64
marital-status     int8
occupation         int8
relationship       int8
race               int8
sex                int8
capital-gain      int64
capital-loss      int64
hours-per-week    int64
native-country     int8
income            int64
dtype: object

In [49]:
data_shuffle = data.sample(frac=1, random_state=1)
data_shuffle

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
12488,30,2,202450,11,9,2,13,0,4,1,0,0,65,38,1
5130,40,2,217120,0,6,0,2,1,4,1,0,0,50,38,-1
8616,23,2,240398,9,13,4,11,1,2,1,0,0,15,38,-1
15453,47,5,100818,11,9,2,0,5,4,0,0,0,40,38,1
13555,43,2,191814,7,12,2,11,0,4,1,7688,0,50,38,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18656,24,2,149457,15,10,4,0,4,4,0,0,0,40,38,-1
5661,19,2,93604,5,4,4,2,3,4,1,0,1602,32,38,-1
13155,17,2,108402,0,6,4,11,3,4,0,0,0,20,38,-1
255,42,4,303044,11,9,2,4,0,1,1,0,0,40,0,1
32100,26,2,245880,11,9,4,7,2,4,1,0,0,40,38,-1

In [50]:
train_size = int(0.8 * len(data))
data_train = data_shuffle[:train_size].reset_index(drop=True)
data_test = data_shuffle[train_size:].reset_index(drop=True)

In [51]:
data_train

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,30,2,202450,11,9,2,13,0,4,1,0,0,65,38,1
1,40,2,217120,0,6,0,2,1,4,1,0,0,50,38,-1
2,23,2,240398,9,13,4,11,1,2,1,0,0,15,38,-1
3,47,5,100818,11,9,2,0,5,4,0,0,0,40,38,1
4,43,2,191814,7,12,2,11,0,4,1,7688,0,50,38,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24124,31,2,51259,9,13,4,9,1,4,1,0,0,47,38,-1
24125,22,2,401762,11,9,4,0,1,4,0,0,0,55,38,-1
24126,23,2,50341,12,14,4,11,1,4,0,0,0,20,38,-1
24127,22,2,297380,11,9,4,11,3,2,0,0,0,40,38,-1
24128,39,4,152587,11,9,4,2,3,4,1,0,0,40,38,-1

In [52]:
data_test

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,2,410240,11,9,4,2,3,4,1,0,0,40,38,-1
1,56,2,172071,11,9,0,7,4,2,0,0,0,40,22,-1
2,32,2,211743,9,13,4,11,1,4,1,0,0,45,38,-1
3,43,1,209544,12,14,4,3,1,4,0,10520,0,50,38,1
4,23,2,163090,7,12,4,11,3,4,1,0,0,20,38,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6028,24,2,149457,15,10,4,0,4,4,0,0,0,40,38,-1
6029,19,2,93604,5,4,4,2,3,4,1,0,1602,32,38,-1
6030,17,2,108402,0,6,4,11,3,4,0,0,0,20,38,-1
6031,42,4,303044,11,9,2,4,0,1,1,0,0,40,0,1
6032,26,2,245880,11,9,4,7,2,4,1,0,0,40,38,-1

In [53]:
X_train = data_train.drop('income', axis=1)
y_train = data_train.income
X_test = data_test.drop('income', axis=1)
y_test = data_test.income

In [63]:
class Node:
    # A node stores its own depth (root = depth 0), its decision stump, its parent and child information
    # Leaf nodes also store a constant label that is assigned to every data point that reaches that leaf
    def __init__( self, depth = 0, stump = (0,0), parent = None ):
        self.depth = depth
        self.stump = stump
        self.parent = parent
        self.left = None
        self.right = None
        self.isLeaf = True
        self.label = 0
        
    def predict( self, data ):
        # If I am a leaf I can predict rightaway
        # May change this constant leaf action to something more interesting and powerful
        if self.isLeaf:
            return self.label
        # Else I have to ask one of my children to do the job
        else:
            if data[self.stump[0]] > self.stump[1]:
                return self.right.predict( data )
            else:
                return self.left.predict( data )
    
    def getEntropy(self, nPos, nNeg):
        if nPos == 0 or nNeg == 0:
            return 0
        nTot = nPos + nNeg
        pPos = nPos / nTot
        pNeg = nNeg / nTot
        return - pPos * float(np.log(pPos)) - pNeg * float(np.log(pNeg))
            
    def getStump( self, X, y ):
        # How many data points do I have at this node?
        n = y.size
        nPos = (y == 1).sum()
        nNeg = (y == -1).sum()
        bestObjective = -float('inf')
        
        # For each of the features in the data
        for i in range( X.shape[1] ):
            # Do not use the same feature as used by the parent node
            if self.parent is not None and i == self.parent.stump[0]:
                continue
            # Find out all values at which we can threshold that feature
            candidateThresholds = np.sort( X[:, i] )
            idx = np.argsort( X[:, i] )
            # The cumulative sum trick used here will work only if labels are binary 
            ySorted = y[idx]
            yCum = np.cumsum( ySorted )
            yCumRev = np.cumsum( ySorted[::-1] )[::-1]
            # For each possible threshold (except the ones at the extreme)
            for j in range( 1, candidateThresholds.size-1 ):
                candidateObjective = self.getEntropy(nPos, nNeg) \
                                    - ((j + 1) / n) * self.getEntropy((yCum[j] + j + 1) / 2, (j + 1 - yCum[j]) / 2) \
                                    - ((n - j - 1) / n) * self.getEntropy((yCumRev[j+1] + n - j - 1) / 2, (n - j - 1 - yCumRev[j+1]) / 2)
                if candidateObjective > bestObjective:
                    bestObjective = candidateObjective
                    bestFeat = i
                    bestThresh = candidateThresholds[j]
        
        # # Can try LwP decision stump as well
        # bestThresh = (np.mean(X[y > 0, bestFeat]) + np.mean(X[y < 0, bestFeat]))/2
        return (bestFeat, bestThresh)
            
    def train( self, X, y, maxLeafSize, maxDepth ):
        # If too few data points are present, or else if this node is too deep in the tree, make this a leaf
        if y.size < maxLeafSize or self.depth >= maxDepth:
            self.isLeaf = True
            self.label = 1 if y.sum() >= 0 else -1
        else:
            # This node will be split and hence it is not a leaf
            self.isLeaf = False
            # Get the best possible decision stump
            self.stump = self.getStump( X, y )
            self.left = Node( depth = self.depth + 1, parent = self )
            self.right = Node( depth = self.depth + 1, parent = self )
            # Find which points go to my left child and which go to my right child
            discriminant = X[:, self.stump[0]] - self.stump[1]
            # Train my two children recursively
            self.left.train( X[discriminant <= 0, :], y[discriminant <= 0], maxLeafSize, maxDepth )
            self.right.train( X[discriminant > 0, :], y[discriminant > 0], maxLeafSize, maxDepth )

In [64]:
class Tree:
    def __init__(self, maxLeafSize = 10, maxDepth = 5):
        self.root = Node()
        self.maxLeafSize = maxLeafSize
        self.maxDepth = maxDepth 
        
    def predict(self, x):
        return self.root.predict(x)
    
    def train(self, X, y):
        self.root.train(X, y, self.maxLeafSize, self.maxDepth)

In [65]:
tree = Tree()
tree.train(np.array(X_train), np.array(y_train))

In [79]:
y_pred = X_test.apply(tree.predict, axis=1)
y_pred

0      -1
1      -1
2      -1
3       1
4      -1
       ..
6028   -1
6029   -1
6030   -1
6031   -1
6032   -1
Length: 6033, dtype: int64

In [83]:
(y_pred == y_test).sum() / len(y_test) * 100

83.04326205867727

In [86]:
def test2(maxLeafSize, maxDepth):
    tree = Tree(maxLeafSize, maxDepth)
    tree.train(np.array(X_train), np.array(y_train))
    y_pred = X_test.apply(tree.predict, axis=1)
    accuracy = (y_pred == y_test).sum() / len(y_test) * 100
    print(f'For max leaf size = {maxLeafSize} and max depth = {maxDepth}, accuracy = {round(accuracy, 2)}%')
    return accuracy

In [88]:
max_accuracy = 0
for maxDepth in range(3, 7):
    for maxLeafSize in range(15, 0, -5):
        accuracy = test2(maxLeafSize, maxDepth)
        max_accuracy = max(accuracy, max_accuracy)

For max leaf size = 15 and max depth = 3, accuracy = 78.24%
For max leaf size = 10 and max depth = 3, accuracy = 78.24%
For max leaf size = 5 and max depth = 3, accuracy = 78.24%
For max leaf size = 15 and max depth = 4, accuracy = 78.7%
For max leaf size = 10 and max depth = 4, accuracy = 78.7%
For max leaf size = 5 and max depth = 4, accuracy = 78.7%
For max leaf size = 15 and max depth = 5, accuracy = 83.04%
For max leaf size = 10 and max depth = 5, accuracy = 83.04%
For max leaf size = 5 and max depth = 5, accuracy = 83.04%
For max leaf size = 15 and max depth = 6, accuracy = 82.89%
For max leaf size = 10 and max depth = 6, accuracy = 82.89%
For max leaf size = 5 and max depth = 6, accuracy = 82.91%